* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "Kumbh Sans", "https://fonts.google.com/specimen/Kumbh+Sans";
  background-color: hsl(185, 75%, 39%);
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 45vw bottom 45vh, left 45vw top 45vh;
}

.container {
  height: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 420px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow-y: hidden;
}

.profileBGImage {
  height: 30%;
  flex-direction: column;
  background-image: url("images/bg-pattern-card.svg");
}
.profileDetails {
  height: 45%;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}

.profileDetails > img {
  border-radius: 50%;
  position: relative;
  bottom: 60px;
  border: 5px solid white;
  margin-bottom: -25px;
}

.profileDetails > p {
  font-size: 15px;
  margin-top: 10px;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.profileDetails > div > span {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}
.profileStats {
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
}

.profileStats > div > p {
  padding: 8px 0;
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  height: 3%;
  text-align: center;
  background-color: hsl(185, 75%, 39%);
  color: white;
}
.attribution a {
  color: white;
}
/* @media (min-width: 1440px) {
  .card {
    width: 300px;
    height: 400px;
  }
} */
